/*
Author: Javed Ur Rehman
Website: https://htmlcssphptutorial.wordpress.com/
*/
body {
    
    
    background: url(images/titulinis4.jpg),!important;
    font-family: cursive;
    margin: 150px;
}
.clearfix:before, .clearfix:after {
 content: ""; display: table;
 }
.clearfix:after {
 clear: both; 
}
h1{
color: #CBC7A6; 
}
h2{
color: #CBC7A6;
width: 450px;   
}
p{
color: #CBC7A6; 
}
a {
    color: #D28A34; text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.form{

    text-align: center;
    color:#D28A34;
    width: 448px;
    margin: auto; 
    
}
input[type='text'], input[type='email'], input[type='password'] {
    width: 200px;
    border-radius: 2px;border: 1px solid #CCC; 
    padding: 10px; 
    color: #333; 
    font-size: 14px; 
    margin-top: 10px;
}
input[type='submit']{
    height: 50px;
    width: 222px;
    background-color: #555346;
    text-shadow: rgba(0,0,0,0.24) 0 1px 0;
    font-size: 16px;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
    color: #eee !important;
}
input[type='submit']:hover {
        background-color: rgba(241, 235, 234, 0.22);
}